ansys-sphinx-theme==0.14.0
jupyter_sphinx==0.5.3
numpydoc==1.6.0
Sphinx==7.2.6
pytest-sphinx==0.6.0
sphinx-autobuild==2024.2.4
sphinx-autodoc-typehints==2.0.0
sphinx-copybutton==0.5.2
sphinx-gallery==0.15.0
sphinx-notfound-page==1.0.0
sphinx-toggleprompt==0.5.2
sphinxcontrib-websupport==1.2.7
sphinxemoji==0.3.1
matplotlib==3.8.3
pandas==2.2.1
pypandoc==1.13
pyside6==6.6.2
pytest-sphinx==0.4.0
pyvista==0.43.3
pyvistaqt==0.11.0
vtk==9.3.0
