ansys-sphinx-theme==0.16.6
jupyter_sphinx==0.5.3
numpydoc==1.7.0
Sphinx==7.3.7
pytest-sphinx==0.6.3
sphinx-autobuild==2024.4.16
sphinx-autodoc-typehints==2.2.2
sphinx-copybutton==0.5.2
sphinx-gallery==0.16.0
sphinx-notfound-page==1.0.2
sphinx-toggleprompt==0.5.2
sphinxcontrib-websupport==1.2.7
sphinxemoji==0.3.1
matplotlib==3.9.0
pandas==2.2.2
pypandoc==1.13
pytest-sphinx==0.6.3
pyside6==6.7.2
pyvista==0.43.10
pyvistaqt==0.11.1
vtk==9.3.0